<h1>Virtual Scroll</h1>
<hr/>

<div class="row">

    <div class="col">

        <button class="btn btn-primary"
                (click)="irFinal()"
        >
            Ir al final
        </button>

    </div>

    <div class="col text-center">

        <button class="btn btn-warning"
                (click)="irMitad()"
        >
            Ir a la Mitad
        </button>

    </div>

    <div class="col text-right">

        <button class="btn btn-secondary"
                (click)="irInicio()"
        >
            Ir al inicio
        </button>

    </div>

</div>

<br /><br />
<hr />

<cdk-virtual-scroll-viewport itemSize="50" class="list-container list-group" >

    <div class="list-group-item animate__animated animate__fadeInDown"
         *cdkVirtualFor="let persona of personas; let i = index; let conteo = count" >

        Item {{ i }} / {{ conteo }}

    </div>

</cdk-virtual-scroll-viewport>